body{
    text-align:center;
    background-color: #a6c0e7;
    font-size: 2.5vh;
    color:white;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    padding: .7vh;
    border: 1px solid;
    margin-top:5vh; 
    text-align:center;
    border-color: black;
}

th {
    background-color: rgb(75, 95, 139);
    color:white;
}

button{
    background-color: rgb(75, 95, 139);
    border: 1px solid white;
    color:white;
    border-radius: 20%;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
}

